GAI_CTI_BASE_URL="http(s)://sample.domain"
GAI_CTI_YARN_REGISTRY_DOMAIN="mirror-npm.runflare.com"
GAI_CTI_PIP_MIRROR_HOST="https://mirror-pypi.runflare.com"
GAI_CTI_OPENCTI_ES_MEM=16GB
GAI_CTI_AVALAI_API_KEY=
GAI_CTI_USERNAME=
GAI_CTI_PASSWORD=
GAI_CTI_OPEN_WEBUI_DOMAIN=sample.domain
GAI_CTI_OPEN_WEBUI_PROTOCOL=https or http
